@using Microsoft.AspNetCore.Identity
@using OnionBase.Domain.Entities.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnionBase.Presentation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="~/css/mdb.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnionBase.Presentation.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" style="justify-content: space-evenly">
            <ul class="navbar-nav d-flex flex-row">
                <!-- Icons -->
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" type="submit" href="@Url.Action("Index", "Home")">
                        <i class="fas fa-home" style="color:#57081a"></i>
                    </a>
                </li>

                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" type="submit" href="@Url.Action("Index", "AllProducts")">
                        <i class="fab fa-product-hunt" style="color:#57081a"></i>
                    </a>
                </li>
                <!-- Icon dropdown -->
                <li class="nav-item me-3 me-lg-0 dropdown">
                    <a class="nav-link dropdown-toggle"
                       id="navbarDropdown"
                       role="button"
                       data-mdb-toggle="dropdown"
                       aria-expanded="false"
                       href="#">
                        <i class="fas fa-user" style="color:#57081a" ></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="@Url.Action("Profile", "Account")">Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="@Url.Action("MyOrders", "Account")">My Orders</a>
                        </li>
                        @if (User.IsInRole("admin"))
                        {
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("RoleManagment", "Account")">Rol Yönetimi</a>
                            </li>
                        }
                        
                    </ul>
                </li>
                <li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a href="@Url.Action("LogOut", "Account")">
                            <button class="btn btn">Çıkış Yap</button>
                        </a>
                    }
                    else{
                        <a type="submit" href="@Url.Action("Login", "Account")">
                            <button class="btn btn">Giriş Yap</button>
                        </a>
                        <a href="@Url.Action("Register", "Account")">
                            <button class="btn btn">Kayıt Ol</button>
                        </a>
                    }

                    
                        
                    
                </li>
            </ul>
        </div>
    </nav>
</header>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/mdb.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
